@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  width: 100%;
  height: 100%;
}
html * {
  font-family: "Helvetica Heue", Arial;
  color: black;
  font-size: 11px;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
html body {
  height: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
}
input:focus,
textarea:focus,
select:focus {
  outline-width: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #fdfdfd;
}
::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
.option-webview #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  width: 580px;
  height: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.option-webview #content .inp-name {
  text-align: center;
  color: #808080;
  margin-bottom: 4px;
}
.option-webview #content .input-area {
  width: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f9f3c4;
  margin: 0 auto 20px auto;
}
.option-webview #content .input-area input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  width: 442px;
  height: 34px;
  font-size: 13px;
  padding: 2px 5px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
}
.option-webview #content .button-go {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  width: 200px;
  border: 2px solid #d2d461;
  font-size: 13px;
  line-height: 2.3;
  color: #d2d461;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  cursor: default;
}
.option-webview #content .button-go:active {
  background-color: #f4f5d9;
}
.option-get #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 580px;
  height: 325px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
.option-get #content .item {
  border-top: 1px solid #e5e5e5;
  min-height: 45px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.option-get #content .item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.option-get #content .item .icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 0;
  right: 0;
  background-color: #e5e5e5;
}
.option-get #content .item:nth-child(1) .icon {
  background-color: #d2d461 !important;
}
.option-get #content .item:nth-child(2) .icon {
  background-color: #dddf89 !important;
}
.option-get #content .item:nth-child(3) .icon {
  background-color: #e9eab1 !important;
}
.option-get #content .item .text {
  width: 516px;
  position: relative;
  left: 55px;
  padding: 8px 0 9px 0;
  color: #808080;
}
.option-get #content .item .text,
.option-get #content .item .text * {
  font-size: 12px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
}
.option-get #content .item .text .name {
  color: #9a2626;
}
.option-get #content .item .text .value {
  color: #0c5496;
}
.option-get #panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  width: 100%;
  background-color: #e5e5e5;
}
.option-get #panel .button {
  position: absolute;
  top: 10px;
  left: 50%;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 140px;
  border: 2px solid #b6b6b6;
  font-size: 13px;
  line-height: 1.8;
  color: #b6b6b6;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  cursor: default;
  margin-left: -70px;
}
.option-get #panel .button:active {
  background-color: #ffffff;
}
